/**
 * Parallax Scrolling Tutorial
 * For NetTuts+
 *  
 * Author: Mohiuddin Parekh
 *	http://www.mohi.me
 * 	@mohiuddinparekh   
 */

body {
	margin: 0;
	padding: 0;
}
#home {
	background: url(../images/Desert.jpg) 50% 0 no-repeat fixed;
}
#about {
	background: url(../images/Jellyfish.jpg) 50% 0 no-repeat fixed;
}
#contact {
	background: url(../images/Koala.jpg) 50% 0 no-repeat fixed;
}
#career {
	background: url(../images/Penguins.jpg) 50% 0 no-repeat fixed;
}
#home,
#about,
#contact,
#career {
	height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
	/*	box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);*/
	background-size: cover;
}
section {
	display: flex;
	justify-content: center;
	align-content: center;
}

/* Introduction */

#home article {
	background: url("../images/intro.png") no-repeat scroll center top transparent;
	height: 458px;
	position: absolute;
	text-indent: -9999px;
	top: 150px;
	width: 100%;
}
#about article {
	background: url("../images/parallax.png") no-repeat scroll center top transparent;
	height: 458px;
	position: absolute;
	text-indent: -9999px;
	top: 425px;
	width: 100%;
}
#contact article {
	background: url("../images/intro.png") no-repeat scroll center top transparent;
	height: 458px;
	position: absolute;
	text-indent: -9999px;
	top: 425px;
	width: 100%;
}
#career article {
	background: url("../images/parallax.png") no-repeat scroll center top transparent;
	height: 458px;
	position: absolute;
	text-indent: -9999px;
	top: 425px;
	width: 100%;
}
